.Header{
    height: 25%;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    background-color: aliceblue;
}
.nav{
    height: 25%;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    background-color: aliceblue;
}
.con{
    
    display: grid;
    grid-template-columns: repeat(3,100px);
    background-color: aliceblue;
}
